<launch>
  <!-- node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" / -->
  <!-- node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" / -->
  
  <!-- load map -->
  <include file="$(find map)/launch/map_load.launch" />

  <!-- load lidar -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <!-- load odom -->
  <include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch" />

  <!-- launch lidar localization -->
  <include file="$(find lidar_loc)/launch/lidar_loc.launch" />
  
  <include file="$(find point_to_point_nav)/launch/base_link_to_laser.launch"/>

  <!-- launch move_base -->
  <include file="$(find point_to_point_nav)/launch/move_base.launch" />

  <!-- launch chassis control -->
  <include file="$(find navigation_driver)/launch/navigation.launch"/>

  <!-- launch rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find point_to_point_nav)/rviz/path_planner.rviz" />
</launch>