[submodule "workspace/src/rplidar_ros"]
	path = workspace/src/rplidar_ros
	url = git@github.com:TangJingfan/rplidar_ros.git
[submodule "workspace/src/rf2o_laser_odometry"]
	path = workspace/src/rf2o_laser_odometry
	url = git@github.com:TangJingfan/rf2o_laser_odometry.git
[submodule "cartographer_ws/src/ceres-solver"]
	path = cartographer_ws/src/ceres-solver
	url = git@github.com:TangJingfan/ceres-solver.git
[submodule "cartographer_ws/src/cartographer_ros"]
	path = cartographer_ws/src/cartographer_ros
	url = git@github.com:TangJingfan/cartographer_ros.git
[submodule "cartographer_ws/src/cartographer"]
	path = cartographer_ws/src/cartographer
	url = git@github.com:TangJingfan/cartographer.git
